body {
  background-color: gray;
}

* {
  box-sizing: border-box;
}

.header {
  height: 300px;
  width: 100%;
  background-color: greenyellow;
}

.header-title {
  text-align: center;
  font-size: 48px;
  color: lightsalmon;
  text-decoration: underline;
}
